.input {
    position: relative;
    width: 100%;

    padding: 0 36px;

    border: 1px solid lightgray;
    border-radius: 20px;

    &__text {
        position: absolute;
        left: -9999em;
    }

    &__field {
        width: 100%;
        padding: 12px 0;
        border: none;
    }

    &__search {
        position: absolute;
        left: 16px;
        top: calc(50% - 8px);

        margin: 0;
    }

    &__delete-button {
        position: absolute;
        right: 16px;
        top: calc(50% - 8px);;
        padding: 0;

        border: none;
        background: transparent;
    }

    &__delete-wrapper {
        margin: 0;
    }
}