.results {
    padding: 32px 8px;

    @media (min-width: 992px) {
        display: grid;
        grid-template-columns: 60% 39%;
        grid-gap: 1%;
        padding: 32px 16px;
        margin: 0 auto;
        max-width: 1300px;
    }

    &__bold {
        font-weight: 700;
    }

    &__list {
        padding: 0;
        margin: 0;
    }
}