.card {
    list-style-type: none;
    margin-bottom: 32px;
    text-align: left;

    &__container {
        display: flex;
        flex-direction: column;
        border: none;
        background-color: transparent;
    }

    &__url {
        margin-bottom: 8px;
        color: black;
    }

    &__title {
        margin-bottom: 8px;
        color: blue;
        font-size: 24px;
        text-align: left;
    }

    &__description {
        text-align: left;
    }
}